---
import { Image } from 'astro:assets'
const { title, description, slug, heroImage } = Astro.props
---

<a
  class='card bg-base-300 transition-all shadow-lg hover:scale-105'
  href={`/projects/${slug}`}
>
  <figure>
    <Image
      src={heroImage}
      width={800}
      height={450}
      alt={title}
      transition:name={`${title}_image`}
    />
  </figure>
  <div class='card-body'>
    <h3 class='card-title' transition:name={title}>{title}</h3>
    <p>{description}</p>
  </div>
</a>
