---
import { Image } from 'astro:assets'
import { getCollection, type CollectionEntry } from 'astro:content'
import ProjectImages from '../../components/ProjectImages.astro'
import { type ProjectSchema } from '../../content/config'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const entries = await getCollection('projects')
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

interface Props {
  entry: CollectionEntry<'projects'>
}

const { entry } = Astro.props
const project: ProjectSchema = entry.data
const { Content } = await entry.render()
---

<Layout title='Blog post'>
  <div class='flex flex-col md:flex-row gap-8'>
    <div class='flex-1 flex flex-col gap-8'>
      <Image
        src={project.heroImage}
        width={666}
        height={375}
        alt={project.title}
        class='rounded'
        transition:name={`${project.title}_image`}
      />
      <div class='hidden md:block'>
        <ProjectImages images={project.images} />
      </div>
    </div>

    <div class='flex-1 prose'>
      <h1 class='py-4 text-4xl font-bold' transition:name={project.title}>
        {project.title}
      </h1>
      <h3 class='pb-2 text-xl font-semibold'>
        {project.description}
      </h3>
      <Content />
    </div>

    <div class='flex-1 md:hidden'>
      <ProjectImages images={project.images} />
    </div>
  </div>
</Layout>
